package.json
node_modules
docs
patches
static/images/favicon*
static/pdfjs/**
resources
.hugo_build.lock
hugo_stats.json
content/post/*/front/
content/post/*/title/
content/post/*/cover/
content/post/*/img*/
content/post/*/page*/
content/post/*/end-*/
content/post/*/front-*/
content/post/*/back/
content/**/ogPreview.*g
**/vips-properties.xml
assets/css/
static/fonts/
.DS_Store
package.json
yarn.lock
data/stats.json

assets/js/lucienne/lucienne-*.js
assets/scss/lucienne/lucienne-*.css

XXX-*
