node_modules
docs
static/images/favicon*
resources
content/post/*/front/
content/post/*/title/
content/post/*/cover/
content/post/*/img*/
content/post/*/page*/
content/post/*/end-*/
content/post/*/front-*/
