{{ define "body" }}
  {{- $slug := .File.Dir -}}
  {{- $slug := replace $slug "/" "" -}}
  {{- $class := $slug -}}
  {{- if hasPrefix .Page.File.Path "about" -}}
    {{- $class = "about" -}}
  {{- end -}}
  {{- if .Params.metaPage -}}
    {{- $class = printf "%s %s" $class "meta" -}}
  {{ end }}
  <body class="post-template-default single single-post single-format-standard ct-body singular singular-post not-front standard {{ $class }}">
{{ end }}

{{ define "main" }}
  <div class="archive-header">
  	<h1>
  		{{ .Title }}
  	</h1>
    <h2>{{ .Description }}</h2>
  </div>
  <div id="loop-container" class="loop-container">
    <div class="post type-post status-publish excerpt">
      <div class="patterns-container">
        {{- $pages := where .Site.Pages "Params.view" "in" (slice "endpaper" "wallpaper" "portfolio") -}}
        {{- $pages := $pages.ByDate.Reverse -}}

        {{- range $index, $element := $pages -}}
          {{- if and (isset .Params "nopreview") (.Param "nopreview") -}}
            {{- continue -}}
          {{- end -}}

      		{{- $contextPath := path.Dir .File.Path -}}
          {{- $resize := false -}}
          {{- $defaultWidth := 800 -}}
          {{- $defaultHeight := 500 -}}

          {{/* Preview */}}
          {{/* Format: width x height */}}
          {{- $fit := printf "%dx%d" $defaultWidth $defaultHeight -}}
          {{- $previewImg := partial "preview/preview-internal.html" (dict "context" . "fit" $fit "postProcess" true) -}}

          {{- if $previewImg -}}
      			{{- $style := printf "background-image: url(%s);" $previewImg.RelPermalink -}}
            {{- $class := "preview" -}}
            <a class="pattern-link" href="{{ .Permalink }}">
              {{- with $previewImg -}}
                <div style="{{ $style | safeCSS }}" class="pattern">
                </div>
              {{ end }}
            </a>
          {{- end -}}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
