<meta charset="utf-8">
{{- partial "schema" . -}}

{{ with .Title }} <title>{{ . }} {{if $.IsHome}}- {{ $.Site.Params.slogan | default "" | safeHTML }}{{ end }}</title>
{{ end }}

{{ partial "html/head/meta.html" . }}

    {{- partial "html/head/style.html" (dict "context" . "css" "css/style.css" "includes" (slice "static/css")) -}}
    {{- partial "html/head/script.html" (dict "js" (partial "html/head/iiif-js.html" .)) -}}

{{/* External Styles - Fonts etc */}}
{{- range .Site.Params.stylesheets -}}
    <link href="{{ . }}" rel="stylesheet">
{{- end }}

<link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32.png" | absURL }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16.png" | absURL }}" sizes="16x16">
{{ if .Site.Params.favicon_svg }}
    <link rel="icon" type="image/svg+xml" href="{{ .Site.Params.favicon_svg }}">
{{ end }}

<link rel="shortcut icon" href="{{ "img/favicon.ico" | absURL }}" type="image/x-icon">
<link rel="icon" href="{{ "img/favicon.ico" | absURL }}" type="image/x-icon">

{{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title | default "" }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title | default "" }}" />
{{ end }}
