{{- $contextPath := path.Dir .File.Path -}}
{{- $urlBase := printf "%s%s" .Site.BaseURL $contextPath -}}
{{- $manifestUrl := "" -}}
{{/*
{{- if or .Site.IsServer (not (isset .Site.Params "productioniiifurlprefix")) -}}
*/}}
    {{- $manifestUrl = printf "%s/%s/%s" .Site.BaseURL $contextPath (replaceRE "^\\./(.*)$" "$1" .Params.iiifManifest) -}}
{{/*
{{- else -}}
    {{- $manifestUrl = printf "%s%s/%s" .Site.Params.productionIIIFURLPrefix $contextPath (replaceRE "^\\./(.*)$" "$1" .Params.iiifManifest) -}}
{{- end -}}
*/}}
<div id="iiif-presentation" class="viewer presentation-api"></div>
<script type="text/javascript">
    var viewer = addMirador('iiif-presentation', '{{ $manifestUrl }}');
</script>
