{{- $context := .context -}}
{{- $width := .width -}}
{{- $height := .height -}}

{{- $previewImg := "" -}}
{{- $images := newScratch -}}
{{- if isset .context.Site.Params "preview" -}}
    {{- $previewImgName := $context.Site.Params.preview.outputPrefix -}}
    {{- if ne $context.Sites.First .context.Site -}}
        {{- $previewImgName = printf "%s.%s%s" $previewImgName $context.Site.Language.Lang $context.Site.Params.preview.outputSuffix -}}
    {{- else -}}
        {{- $previewImgName = printf "%s%s" $previewImgName $context.Site.Params.preview.outputSuffix -}}
    {{- end -}}
    {{- $overlayImg := ($context.Resources.ByType "image").GetMatch $previewImgName -}}

    {{- range $context.Params.resources -}}
        {{- $resize := false -}}
        {{- if or (or (eq .name "front") (eq .name "preview")) (eq .params.preview true) -}}
            {{- $cropWidth := $width -}}
            {{- $cropHeight := $height -}}

            {{- $tmpImg := $context.Resources.GetMatch .name -}}

            {{- if .params.cropwidth -}}
                {{- $cropWidth = .params.cropwidth -}}
                {{- $resize = true -}}
            {{- end -}}
            {{- if .params.cropheight -}}
                {{- $cropHeight = .params.cropheight -}}
                {{- $resize = true -}}
            {{- end }}
            {{ $crop := printf "%dx%d" $cropWidth $cropHeight }}

            {{/* TODO: Add croping */}}
            {{- if eq $tmpImg nil -}}
                {{- errorf "Can't find image %s" (printf "%s" (path.Join $context.File.Path .src)) -}}
            {{- else -}}
                {{- if ne $context.Params.preview  "book" -}}
                    {{- $crop2x := printf "%dx%d" (div $tmpImg.Width 2) $cropHeight -}}
                    {{- $tmpImg = $tmpImg.Fill (printf "%s %s" $crop2x "center") -}}
                    {{- $tmpImg = $tmpImg.Fill (printf "%s %s" $crop "center") -}}
                    {{- if eq $resize true -}}
                        {{- $tmpImg = $tmpImg.Fill (printf "%s %s" (printf "%dx%d" $width $height ) "center") -}}
                    {{- end -}}
                {{- else -}}
                    {{- $tmpImg = $tmpImg.Resize (printf "%dx" $width) -}}
                {{- end -}}
            {{- end -}}


            {{- if isset .params "rotate" -}}
                {{- $tmpImg = $tmpImg.Resize (printf "%dx r%d" $tmpImg.Width (add 180 .params.rotate)) -}}
            {{- end -}}
            {{- $tmpImg = $tmpImg.Fill (printf "%dx%d smart" $width $height) -}}

            {{- $images.Set "preview" $tmpImg -}}
        {{- end -}}
    {{- end -}}

    {{- $background := $images.Get "preview" -}}

    {{- if and (ne $background nil) (ne $overlayImg nil) -}}
        {{- $overlayFilter := images.Overlay $overlayImg 1 1 -}}
        {{- $previewImg = ($background | images.Filter $overlayFilter) -}}
    {{- end -}}
{{- end -}}

{{- return $previewImg -}}
